.jianjie_wrap{
	width: 100%;
	height: 923px;
	background: url("../img/mokuai02_bg.jpg") no-repeat center;
}
.jianjie{
	width: 1100px;
	height: 923px;
	margin: 0 auto;
}

.jianjie_top .big_txt{
	text-align: center;
	padding-top: 120px;
	font: 700 50px/50px "宋体";
	color: #ffffff;
}
.jianjie_top .small_txt{
	text-align: center;
	padding-top: 10px;
	font: 500 16px/16px "微软雅黑";
	color: #ffffff;
}
.gscontent_list{
	width: 22px;
	height: 386px;
	margin-top: 25px;
	background-image: url("../img/jiejian_now_line.png");
	float: left;
}
.gsmover{
	width: 22px;
	height: 386px;
	position: absolute;
}
.gsmover em{
	display: block;
	background-color: #241438;
	margin-bottom: 54px;
}
.gssmall{
	width: 22px;
	height: 12px;
	border-top: 4px solid  #241438;
	border-bottom:4px solid  #241438 ;
	background-image: url("../img/chanpin_nowline_xiaoquan.png");
	background-repeat: no-repeat;
	background-position: 5px 0;
}
.gsbig{
	width: 22px;
	height: 19px;
	background-image: url("../img/chanpin_nowline_daquan.png");
	background-repeat: no-repeat;
	background-position: 1px 0;
}
.gssmall:hover{
	background-position: 5px -11px ;
}
.gscontent_wrap{
	width: 1020px;
	height: 436px;
	float: left;
	margin-left:50px;
	position: relative;
	overflow: hidden;
}
.gscontent_qiehuan li{
	height: 436px;
}
.gs_image01{
	width: 370px;
	height: 436px;
	float: left;

}
.gongsi_jieshao{
	width: 620px;
	height: 436px;
	margin-left:30px ;
	float: left;

}
.gsjieshao_title{
	font: 700 35px/35px "宋体";
	color: #ffffff;
}
.gspenLine{
	height: 25px;
	position: relative;
}
.gspen_line{
	width: 558px;
	height: 25px;
	display: block;
	background-image: url("../img/pen_line.png");
	background-repeat: no-repeat;
	background-position: 0 23px;
	float: left;
}
.gspen1{
	display: block;
	width: 61px;
	height: 54px;
	position: absolute;
	right: 10px;
	bottom: -1px;
	background-image: url("../img/pen.png");
	float: left;
}
.gszhuyao{
	width: 610px;
	height: 170px;
	padding: 35px 0 40px 0;
}
.gsbird{
	width: 96px;
	height: 100px;
	float: left;
	margin-left: 10px;
	background: url("../img/xiaoniao_icon.png") no-repeat center;
}
.gszhuyao span{
	display: block;
	font: 500 22px/30px "微软雅黑";
}
.gszhuyao>p{
	width: 484px;
	height:100px ;

	font: 400 16px/20px "微软雅黑";
	color: #6b6a6f;
	float: left;
	margin-left: 20px;
}
.gsqiehuan{
	position: absolute;
	left: 400px;
	top: 270px;
	z-index: 999;
}
.gsqiehuan ul{
	height: 29px;
}
.gsqiehuan li{
	float: left;
}
.gsleft{
	width: 29px;
	height: 29px;
	background: url("../img/prev_jiantou.png");
	cursor: pointer;

}
.gsleft:hover{
	background: url("../img/prev_jiantou_hover.png");
}
.gsmDashed{
	width: 562px;
	height: 29px;

	background: url("../img/next&prev_line.png") repeat-x center;
}
.gsright{
	width: 29px;
	height: 29px;
	background: url("../img/next_jiantou.png");
	cursor: pointer;
}
.gsright:hover{
	background: url("../img/next_jiantou_hover.png");
}
.gszongzhi{
	font: 400 15px/20px "微软雅黑";
	color: #6b6a6f;
	margin-top: 10px;

}
 .gslogo_xue{
	width: 210px;
	height: 50px;
	margin-left: 410px;
	margin-top: 10px;
	font: 500 18px/50px "微软雅黑";
}
 .gslogo_xue i{
	width: 20px;
	height: 50px;
	display: block;
	float: left;
}
.gslogo_xue span{
	float: left;
	color: #ffffff;
}
 .gszuoyin{
	background: url("../img/yinhao02_zuo.png") no-repeat 0 0;
}
 .gsyouyin{
	background: url("../img/yinhao02_you.png") no-repeat 0 33px;
}